/* body{
    height: 100%;
    width: 100%
} */

nav{
    width: 100vw;
    height: 5vw;
    /* background-color: rgb(205, 106, 106); */
    color: aqua;
    text-align: center;
}

nav a {
    color :teal;
    text-decoration: none;
    font-size : 2vw;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    position: absolute;
    width: 100vw;
    text-align: center;
    /* background-color: red; */
}

.container h1{
    color : #e74c3c;
}

.container form{
    margin: 5vw 20vw 5vw 20vw;
    /* position: relative; */
    height: 25vw;
    background-color:bisque;
}

.container #guide{
    margin: 2vw 20vw 0vw 20vw;
}

#result{
    margin: 1vw 24vw 0vw 24vw;
    /* margin: auto; */
    /* position: absolute; */
    background: #fff;
    border: 0.1vw solid black;
    border-radius: 1vw;
    width: 12vw;
    height: 3vw;
}

#report{
    margin: 1vw 24vw 0vw 24vw;
    /* margin: auto; */
    /* position: absolute; */
    background: #fff;
    border: 0.1vw solid black;
    border-radius: 1vw;
    width: 12vw;
    height: 3vw;
}